/*
select tag{
    property : value

}
*/
body{
    background: url(activities.day1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black; 
    
    

}

h1{
    color: red;
    border-color: white;
    border-width: thin;
    border-style: solid;
    text-align: center;

    
}
Nitp.jpg
{

}